*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.main{
  width: 100%;
  background-color: var(--cor0);
}

:root{
  --cor0: #FFFDFB;
  --cor1: #EEEAE6;
  --cor2: #DDD4CC;
  --cor3: #AFA193;
  --cor4: #9B8269;
  --cor5: #5F5449;
  --cor6: #292624;
  --corP: #21a35c;
  --corN: #DA2C38;
}